.auth-form__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 50px;
}

@media screen and (max-width: 660px) {
  .auth-form__title {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
