.header__logo {
  width: 142px;
  margin: 45px 0 37px;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    margin-left: calc(27px - 27 * (100vw - 880px) / (1000 - 880));
    width: calc(104px + 38 * (100vw - 880px) / (1000 - 880));
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin: 28px 0 28px 27px;
    width: 104px;
  }
}