.edit-form__submit {
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
  margin-bottom: 37px;
  margin-top: 18px;
}

.edit-form__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .edit-form__submit {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}