.popup__tooltip-image {
  aspect-ratio: 1/1;
  width: 120px;
  background-size: cover;
  margin: 60px auto 32px;
}

@media screen and (max-width: 660px) {
  .popup__tooltip-image {
    margin: 50px auto 40px;
  }
}
